body{
    text-align: center;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    
    font-family: poppins;
}

h1{
    font-weight: bold;
    color: #121212;
}

img{
    width: 380px;
    border: 3px solid #121212;

}

p{
    font-style: italic;
    color: #121212;
}

a{
    color: #121212;
}

input{
    text-align: center;
    width: 205px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    
    border: 3px solid #121212;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    
    font-weight: bold;
}

button{
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    
    border: none;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px;
    
    font-weight: bold;
    color: #ffffff;
    background: #121212;
}